<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joseph HERLANT" />
    <link rel="shortcut icon" href="/asciidoc_twbs_backend/ico/favicon.png" />
    <title>Aerostitch tips - Index page for this category</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="/twbs_/css/bootstrap.css" rel="stylesheet" />-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap theme -->
    <!--<link href="/twbs_/css/bootstrap-theme.min.css" rel="stylesheet" />-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- ztree treeview CSS -->
    <link rel="stylesheet" href="/asciidoc_twbs_backend/css/zTreeStyle.css" />
    <!-- Custom styles for this template -->
    <link href="/asciidoc_twbs_backend/css/theme.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media
    queries -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2pre/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="article">
    <!-- Fixed navbar -->
    <div id="menu-header-bar">
    </div>
    <div id="content">
      <div class="container theme-showcase">
        <div id="global-container-offcanvas" class="row row-offcanvas row-offcanvas-right">
          <div class="col-xs-12 col-sm-6 col-md-6 cold-lg-6" id="left-pane">
            <div class="right-aligned-div menu-indicator"
              id="show-me-menu-direction">
              Navigation menu and tocs are just this way
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
            <div id="Description">
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 cold-lg-6 sidebar-offcanvas" id="sidebar"> <!-- role="navigation"> -->
            <div class="well sidebar-nav" id="ztree-div-container">
              <ul class="nav ztree" id="index_page_idx">
                <li>Documents in this section</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script type="text/javascript" src="/asciidoc_twbs_backend/js/jquery.js"></script>-->
    <script type="text/javascript" src="//code.jquery.com/jquery.min.js"></script>
    <!--<script type="text/javascript" src="/twbs_/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/asciidoc_twbs_backend/js/jquery.ztree.core-3.5.min.js"></script>
    <script type="text/javascript" src="/asciidoc_twbs_backend/js/custom_jquery_twbs.js"></script>
  </body>
</html>
